<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{>header}}
    <p>this site was created by bassel mohsen.</p>

  <img class="portirat" src="/img/188373.jpg" alt="img">

        {{>footer}}

</body>
</html>